<a href="/" class="btn btn-info">Continue Shopping</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Price</th>
        </tr>

    </thead>
    <tbody>
        <% for(var i=0;i<products.length;i++) {let product = products[i];%>
            <tr>
                <td><%=product.name  %> </td>
                <td><%=product.price  %> </td>
                <td><a href="/deletefromcart/<%=products[i]._id %>"><button type="button" class="btn btn-sm btn-outline-secondary">
                    Remove from Cart</button></a></td>
            </tr>
            <% } %> 
            <tfoot>
                <tr>
                    <td>Total:</td>
                    <td><%=total  %> </td>
                </tr>
            </tfoot>
    </tbody>
</table>

<a href="/checkout">
    <button type="button" class="btn btn-sm btn-outline-secondary">Checkout</button>
   </a>